**Take input from the employee for their name, age and salary.**

In [5]:
class Employee():
    def __init__(self, name, age, salary):
        self.age = age
        self.salary = salary
        self.name = name
        
    def display(self):
        print('age', self.age)
        print('salary', self.salary)
        print('name', self.name)
        
    def print_office(self, registery):
        pass

In [6]:
john = Employee('John', 25, 65220)
john.display()

age 25
salary 65220
name John

In [8]:
employee = {'age': 25, 'name': 'John', 'salary': 65220}
print(employee)

def employee_maker(name, salary, age):
    return {'age': age, 'name': name, 'salary': salary}

john = employee_maker('john', 65220, 25)
print(john)

{'age': 25, 'name': 'John', 'salary': 65220}
{'age': 25, 'name': 'john', 'salary': 65220}

In [10]:
john = [('name', 'john'), ('age', 25), ('salary', 65220)]
print(john)
for i in john:
    print(i[0], ':', i[1])

[('name', 'john'), ('age', 25), ('salary', 65220)]
name : john
age : 25
salary : 65220